<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.keisha_ai">

    <!-- Izin Internet -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Izin Kamera -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- Izin Mikrofon -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <!-- Izin Penyimpanan & Galeri -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="29" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />

    <application
        android:label="Keisha AI"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">

        <!-- KUNCI PERBAIKAN: Penanda Flutter Embedding V2 -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
